# For bazel-in-bazel testing
# Trick bazel into treating BUILD files under examples/* as being regular files
# This lets us glob() up all the files inside the examples to make them inputs to tests
# (Note, we cannot use `common --deleted_packages` because the bazel version command doesn't support it)
# To update these lines, run tools/update_deleted_packages.sh
build --deleted_packages=examples/custom_test_runner,examples/custom_test_runner/integration_tests,examples/custom_test_runner/integration_tests/workspace,examples/custom_test_runner/Sources/CustomTestRunner,examples/custom_test_runner/Sources/CustomTestRunnerLib,examples/custom_test_runner/Tests/CustomTestRunnerTests,examples/env_var_with_rootpath/sample_workspace,examples/simple,examples/simple/mockascript,examples/simple/mockascript/private,examples/simple/tests,tests/e2e_tests/workspace,tests/e2e_tests/workspace/child_workspace,tests/params_tests/workspace
query --deleted_packages=examples/custom_test_runner,examples/custom_test_runner/integration_tests,examples/custom_test_runner/integration_tests/workspace,examples/custom_test_runner/Sources/CustomTestRunner,examples/custom_test_runner/Sources/CustomTestRunnerLib,examples/custom_test_runner/Tests/CustomTestRunnerTests,examples/env_var_with_rootpath/sample_workspace,examples/simple,examples/simple/mockascript,examples/simple/mockascript/private,examples/simple/tests,tests/e2e_tests/workspace,tests/e2e_tests/workspace/child_workspace,tests/params_tests/workspace

# Import Shared settings
import %workspace%/shared.bazelrc

# Import CI settings.
import %workspace%/ci.bazelrc

# Only enable for rules_bazel_integration_test
build --@cgrindel_bazel_starlib//bzlmod:enabled

# Try to import a local.rc file; typically, written by CI
try-import %workspace%/local.bazelrc

