name: Continuous Integration

on:
  pull_request:
    branches: [ main ]
  schedule:
    # Every day at 11:09 UTC.
    - cron: '9 11 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  XCODE_VERSION: 14.0.1

jobs:
  tidy_and_test_matrix:
    strategy:
      fail-fast: false
      matrix:
        runner: [macos-12, ubuntu-22.04]
    runs-on: ${{ matrix.runner }}
    env:
      # Linux runners need this.
      CC: clang
    steps:
    - uses: actions/checkout@v3
    - uses: maxim-lobanov/setup-xcode@v1
      if: ${{ startsWith(matrix.runner, 'macos') }}
      with:
        xcode-version: ${{ env.XCODE_VERSION }}
    - uses: ./.github/actions/configure_swift_for_linux
      if: ${{ startsWith(matrix.runner, 'ubuntu') }}
    - uses: cgrindel/gha_set_up_bazel@v1
      with:
        repo_name: rules_bazel_integration_test
    - uses: ./.github/actions/tidy_and_test
  integration_test_matrix:
    strategy:
      fail-fast: false
      matrix:
        runner: [macos-12, ubuntu-22.04]
    runs-on: ${{ matrix.runner }}
    env:
      # Linux runners need this.
      CC: clang
    steps:
    - uses: actions/checkout@v3
    - uses: maxim-lobanov/setup-xcode@v1
      if: ${{ startsWith(matrix.runner, 'macos') }}
      with:
        xcode-version: ${{ env.XCODE_VERSION }}
    - uses: ./.github/actions/configure_swift_for_linux
      if: ${{ startsWith(matrix.runner, 'ubuntu') }}
    - uses: cgrindel/gha_set_up_bazel@v1
      with:
        repo_name: rules_bazel_integration_test
    - uses: ./.github/actions/execute_integration_tests
  
  all_ci_tests:
    runs-on: ubuntu-22.04
    needs: [test_matrix]
    if: ${{ always() }}
    steps:
      - uses: cgrindel/gha_join_jobs@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
